bjoern==2.0.1
boto3==1.4.7
bottle==0.12.13
cryptography==1.7.2
dropbox==6.6.0
enum34==1.1.3
fake-factory==0.5.7
futures==3.0.5
google-api-python-client
grpcio==1.6.0
hiredis
kazoo==2.4.0
mock>=2.0.0
paste==2.0.3
pip
protobuf==3.0.0a3
pycrypto==2.6.1
pyeclib==1.3.1
pytest==2.9.2
python-onedrive
redis==2.10.5
secretsharing==0.2.6
waitress
watchdog
