# Editor files
*~
*/.idea/
*.iml
*.swp
.idea
# Log files
*.log
# Nodejs files
*/node_modules/
# Java files
*.class
*.jar
*/target/
*.war
# Python files
*.pyc
*.DS_Store
.cache/


#latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
paper.pdf
.paper.lb
papers/
